<% if (!hideShow) { %>
    <a href="/<%= crudInfo.route %>show/<%= id ? id : item._id %>" class="btn btn-sm btn-clean btn-icon btn-hover-primary">
      <i class="fa fa-eye"></i>
    </a>
  <% } %>
  <% if (!hideEdit) { %>
    <a href="/<%= crudInfo.route %>edit/<%= id ? id : item._id %>" class="btn btn-sm btn-clean btn-icon btn-hover-info">
      <i class="fa fa-pencil-alt"></i>
    </a>
  <% } %>
  <% if (!hideDelete) { %>
    <form id="delete-form" class="d-inline" action="/<%= crudInfo.route %>destroy/<%= id ? id : item._id %>" method="POST">
      <!-- Include CSRF token if needed -->
      <input type="hidden" name="_method" value="DELETE">
      <button data-id="<%= id %>" class="btn-delete btn btn-sm btn-clean btn-icon btn-hover-danger">
        <i class="fa fa-trash"></i>
      </button>
    </form>
  <% } %>
  <% if (actions && actions.length) { %>
    <% actions.forEach(function(action) { %>
      <%- action %>
    <% }); %>
  <% } %>
  