<%- include('../partials/header', { title: 'Add ' + crudInfo.title }) %>

<!-- Content Header with Fixed Navbar -->
<section class="content-header">
  <div class="navbar bg-white p-2" id="head" style="border-radius: 2px">
    <% if (!hideCancel) { %>
      <a href="javascript:history.back();" class="btn btn-default btn-sm btn-cancel">
        <i class="fas fa-arrow-left"></i> Back
      </a>
    <% } %>
    <button type="submit" id="button_submit" class="button_submit btn btn-sm btn-primary" style="margin-right: 18%;" name="action" value="submit">
      <i class="fas fa-plus"></i> Submit
    </button>
    <% if (addMoreButton) { %>
      <button type="submit" id="button_submit_add" class="button_submit btn btn-primary" name="action" value="add">
        <i class="fas fa-plus-circle"></i> Submit & Add new
      </button>
    <% } %>
  </div>
</section>

<!-- Main Content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card mx-4 mb-4">
          <div class="card-header">
            <h3 class="card-title"><%= crudInfo.title %> | Create</h3>
          </div>
          <!-- Form Start -->
          <form class="form repeater" id="form" name="myForm" action="/<%= crudInfo.route %>store" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <% if (errors && errors.length) { %>
                <% errors.forEach(function(error) { %>
                  <div class="alert alert-danger" role="alert"><%= error.msg %></div>
                <% }); %>
              <% } %>
              <input name="add_more" type="hidden" id="add-more" value="false">
              <!-- Include the form partial -->
              <%- include('form', { item: null, old: {} }) %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
