<%- include('../partials/header', { title: 'Add ' + crudInfo.title }) %> <%-
include('../partials/topnav') %> <%- include('../partials/sidebar', {
activePage: 'admin/users/create' }) %>

<!-- Optional CSS for Summernote or other plugins -->
<link
  rel="stylesheet"
  href="/assets/plugins/summernote/summernote-bs4.min.css"
/>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= crudInfo.title %></h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form
            class="form repeater"
            id="form"
            name="myForm"
            action="/<%= crudInfo.route %>store"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="card-body">
              <% if (errors && errors.length) { %> <%
              errors.forEach(function(error) { %>
              <div class="alert alert-danger" role="alert">
                <%= error.msg %>
              </div>
              <% }); %> <% } %>
              <input
                name="add_more"
                type="hidden"
                id="add-more"
                value="false"
              />
              <!-- Include the form partial -->
              <%- include('form', { item: null, old: {} }) %>
            </div>
            <div class="card-footer">
              <button
                type="submit"
                id="button_submit"
                class="button_submit btn btn-primary"
                name="action"
                value="submit"
              >
                Submit
              </button>
              <% if(typeof addMoreButton !== 'undefined' && addMoreButton) { %>
              <button
                type="submit"
                id="button_submit_add"
                class="button_submit btn btn-primary"
                name="action"
                value="add"
              >
                Submit & Add new
              </button>
              <% } %>
              <a
                href="javascript:history.back();"
                class="btn btn-default float-right"
                >Cancel</a
              >
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<%- include('../partials/footer') %>

