<%- include('../partials/header', { title: 'Show ' + crudInfo.title }) %>
<%- include('../partials/topnav') %>
<%- include('../partials/sidebar', { activePage: 'admin/users/index' }) %>

<div class="content-wrapper">
  <!-- Content Header -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>View <%= crudInfo.title %></h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Main Content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= crudInfo.title %></h3>
              <% if (!hideEdit) { %>
                <a href="/<%= crudInfo.route %>edit/<%= item._id %>" class="btn btn-primary float-right">
                  <i class="fa fa-edit"></i>
                  <span class="kt-hidden-mobile">Edit</span>
                </a>
              <% } %>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <%- form_content %>
            </div>
            <div class="card-footer">
              <a href="javascript:history.back();" class="btn btn-default float-right">Cancel</a>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col (left) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
<!-- /.content-wrapper -->

<%- include('../partials/footer') %>

<script>
  $(document).ready(function () {
    $('#form input').attr('readonly', true);
    $('#form select').attr('disabled', true);
  });
</script>
