<%- include('../partials/header', { title: 'Add ' + crudInfo.title }) %>
<%- include('../partials/topnav') %>
<%- include('../partials/sidebar', { activePage: 'admin/contacts/index' }) %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Create <%= crudInfo.title %></h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= crudInfo.title %> | Create</h3>
            </div>
            <form action="/<%= crudInfo.route %>store" method="post">
              <div class="card-body">
                <% if (errors && errors.length) { %>
                  <% errors.forEach(function(error) { %>
                    <div class="alert alert-danger" role="alert">
                      <%= error.msg %>
                    </div>
                  <% }); %>
                <% } %>
                <%- include('form', { item: null, old: {} }) %>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="javascript:history.back();" class="btn btn-default float-right">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/footer') %>